# Python
backend/venv/
*.pyc
__pycache__/
*.sqlite3
.env

# React
frontend/node_modules/
frontend/build/

# VS Code
.vscode/
*.code-workspace

# Large files
*.dmg
*.zip
*.tar.gz
*.rar

# Other
.DS_Store